.principal {
    width: 50vw;
    margin: 5em auto 6em auto;
}

.principal__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: var(--laranja);
    text-align: center;
}

.principal__subtitulo {
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    color: var(--azul);
    margin: 2em 0 1em 0;
    text-align: center;
}

.campo__etiqueta {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--azul);
    margin-left: 1em;
}

.campo__escrita {
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 0.8em 0 0.8em 0.4em;
    width: 100%;
}

.formulario__dupla {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.formulario__dupla .formulario__campo{
    width: 250px;
    min-width: 95px;
}

.formulario__botao {
    margin-top: 20px;
    background: var(--laranja);
    padding: 1em 4em;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: var(--branco);
    cursor: pointer;
    float: right;
    border-radius: 30px;
}

.erro{
    text-align: center;
    font-size: 20px;
    color: red;
    animation-name: alert;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes alert {
    0% {
        margin-left: 0px;
    }

    50%{
        margin-left: 2px;
    }

    100% {
        margin-left: 0px;
    }

}
